footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: fantasy
}

.header {
  background-image:
    url("");
  background-size:contain;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin-top: -70px;
  background-repeat: no-repeat;
}