/* footer {
  position: absolute;
  color: white;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: fantasy
}

h1 {
  text-align: center;
  color: whitesmoke;
}

h3 {
  text-align: center;
  color: whitesmoke;
  position: absolute;
  top: 40%;
  left: 40%;
}


.list {
  text-align: center;
  color: whitesmoke;
  vertical-align: middle;
  position: absolute;
  top: 45%;
  left: 40%;


}

.BackgroundImage {
  background-image:
    url("https://github.com/miyeaier/slowfood_client_parttime_2021/blob/view-products/image/menu.jpg?raw=true");
    background-size: inherit;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow: auto;
  background-repeat: no-repeat;
} */